.App-header {
  background-color: #282c34;
  max-height: 400vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border:2px solid white;
}

.App-link {
  color: #61dafb;
}